.container {
  display: flex;
  width: 600px;
  height: 600px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #fdf6e3;
  color: black;
  font-size: 40px;
  font-weight: bold;
  border: 10px solid #268bd2;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
}
