.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
}

.createGameBtn {
  padding: 13px 18px;
  font-weight: bold;
  font-size: 20px;
  color: black;
  border: none;
  outline: none;
  background-color: rgba(240, 173, 78, 0.6);
  box-shadow: 0px 5px 10px 0px rgb(0, 0, 0, 0.3);
}

.createGameBtn:hover {
  color: white;
  background-color: #f0ad4e;
  cursor: pointer;
}

.radioContainer {
  font-size: 16px;
  margin-top: 20px;
}

.radioGroupTitle {
  font-style: italic;
  font-weight: bold;
  text-decoration: underline;
  text-transform: uppercase;
}

.radioInput {
  margin-left: 10px;
}

.radioLabel {
  text-transform: capitalize;
}

.error {
  font-weight: bold;
  color: #e24945;
  background-color: white;
  border: 2px solid #e24945;
  padding: 10px;
  margin-top: 40px;
}

.gameSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.gameSectionTitle {
  font-size: 17px;
  font-style: italic;
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 10px;
}

.gameSectionBody {
  width: 250px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.urlWrapper {
  display: flex;
  box-shadow: 0px 5px 10px 0px rgb(0, 0, 0, 0.3);
}

.linkBtn {
  font-size: 16px;
  padding: 1px 10px;
}

.clipboardBtn {
  font-size: 18px;
}

.linkBtn, .clipboardBtn {
  height: 30px;
  color: black;
  border: none;
  outline: none;
  background-color: rgba(49, 176, 213, 0.5);
}

.linkBtn:hover, .clipboardBtn:hover {
  color: white;
  background-color: #31b0d5;
  cursor: pointer;
}
