.container {
  width: 75px;
  height: 150px;
  position: absolute;
  text-align: center;
  background-image: url("../assets/car_blue.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.number {
  color: white;
  font-size: 40px;
  font-weight: bold;
  margin-top: 66px;
}
