.container {
}

.title {
  margin-bottom: 20px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: overline underline;
}

.item {
  margin-bottom: 5px;
}

.playerTurn {
  background: lightgreen;
}

.playerPenalty {
  background: lightcoral;
}
