.container {
}

.grid {
  display: grid;
  /*
   * row-gap: 5px;
   * column-gap: 5px;
   */
  grid-template-columns: auto auto auto;
}

.item1, .item2, .item3 {
  text-align: center;
}

.item2 {
  border: none;
  padding: 3px 0;
}

.item1, .item2, .item3 {
  border-bottom: 2px solid #ddd;
}

.item1 {
  border-right: 2px solid #ddd;
  padding: 3px 5px;
}

.item3 {
  border-left: 2px solid #ddd;
  padding: 3px 5px;
}

.playerTurn {
  /*
   * background: lightgreen;
   * background: #5cb85c;
   */
  background-color: #dff0d8;
}

.playerPenalty {
  /*
   * background: lightcoral;
   * background: #d9534f;
   */
  background-color: #f2dede;
}
