.container {
}

.title {
  margin-bottom: 20px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: overline underline;
}

.grid {
  display: grid;
  row-gap: 5px;
  column-gap: 5px;
  grid-template-columns: auto auto auto;
}

.item1, .item2, .item3 {
  text-align: center;
}

.playerTurn {
  background: lightgreen;
}

.playerPenalty {
  background: lightcoral;
}
