.container {
  padding: 10px;
}

.rim {
  box-sizing: border-box;
  width: 690px;
  height: 690px;
  display: flex;
  flex-wrap: wrap;
  padding-top: 45px;
  box-shadow: 0px 5px 10px 0px rgb(0, 0, 0, 0.3);
  background-color: #268bd2;
  border-radius: 10px;
}

.boardNumbers {}

.cellNumber {
  width: 45px;
  height: 75px;
  font-size: 26px;
  font-weight: bold;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.boardLetters {
  display: flex;
  padding-left: 45px;
}

.cellLetter {
  width: 75px;
  height: 45px;
  font-size: 26px;
  font-weight: bold;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}


.grid {
  position: relative;
  display: grid;
}

.cell {
  border: 1px solid #268bd2;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: #fdf6e3;
}

.skipContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.skipBtn {
  width: 150px;
  height: 30px;
  background: #e24945;
  font-size: 20px;
  font-weight: bold;
  color: white;
  border: none;
  outline: none;
  padding: 0;
  margin: 10px 0px;
  box-sizing: border-box;
  box-shadow: 0px 5px 10px 0px rgb(0, 0, 0, 0.3);
}

.skipBtn:hover {
  cursor: pointer;
}

.skipBtn:disabled {
  cursor: auto;
  color: gray;
  background-color: lightgray;
}

.skipMsg {
  font-size: 18px;
  font-weight: bold;
  color: #e24945;
  background-color: white;
  border: 2px solid #e24945;
  padding: 10px;
  margin-top: 30px;
}
