.container {
  padding-top: 110px;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.item1, .item2, .item3, .item4 {
  text-align: center;
}

.item1 {
  border-right: 2px solid #ddd;
  padding: 6px;
}

.item3 {
  border: none;
  padding: 3px 0;
}

.item1, .item2, .item3, .item4 {
  border-bottom: 2px solid #ddd;
}

.item2 {
  border-right: 2px solid #ddd;
  padding: 3px 5px;
}

.item4 {
  border-left: 2px solid #ddd;
  padding: 3px 5px;
}

.playerTurn {
  background-color: #dff0d8;
}

.playerPenalty {
  background-color: #f2dede;
}

.online {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: lightgreen;
}

.offline {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: lightgray;
}
